{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="margin-top:100px; ">

    <div class="row">
        <div class="col-xs-12">
            <h1>Login</h1>

            {% if error %}
                <div class="alert alert-danger">
                    {{  error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {{ dump(form) }}
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success">login</button>
            {{ form_end(form) }}

        </div>
    </div>
</div>

{% endblock %}